{% extends 'account/main.html' %}
{% block content %}
<div class="row mt-4">
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                <h5>Customer : </h5>
            </div>
            <div class="card card-body">
                <a href="" class="btn btn-outline-success btn-sm btn-block mb-2">Create Customers</a>
                <a href="" class="btn btn-outline-danger btn-sm btn-block">Create Customers</a>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                <h5>Contact Information : </h5>
            </div>
            <div class="card card-body">
                <p>Email : </p>
                <p>Phone : </p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                <h5>Total Orders : </h5>
            </div>
            <div class="card card-body">
            </div>
        </div>
    </div>
</div>
<div class="Search-row mt-3 bg-light p-2" style="background-color: #fff !important;">
    <div class="btn btn-primary">Search</div>
</div>
<div class="card mt-3">

    <div class="card-body">
        <table class="table table-sm mt-2">
            <tr>
                <th></th>
                <th>Product</th>
                <th>Date Orderd</th>
                <th>Status</th>
                <th>Update</th>
                <th>Remove</th>
            </tr>
        </table>
    </div>
</div>
{% endblock content %}