<div class="row mt-4">
    <div class="col-4 text-center">
        <div class="card">
            <div class="card-header">
                <p>Total Order</p>
            </div>
            <div class="card-body">
                <p></p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card text-center">
            <div class="card-header">
                <p>Orders Delivered</p>
            </div>
            <div class="card-body">
                <p></p>
            </div>
        </div>
    </div>
    <div class="col-4 text-center">
        <div class="card">
            <div class="card-header">
                <p>Order Pending</p>
            </div>
            <div class="card-body">
                <p></p>
            </div>
        </div>
    </div>
</div>