<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>this is my template</h1>
    
    <br><br><a href='http://127.0.0.1:8000/rpunc'><button>remove punc</button></a>
     <a href='http://127.0.0.1:8000/capfirst'><button>captial first</button></a> 
     <a href='http://127.0.0.1:8000/newlinerm'><button>remove newline</button></a> 
    <a href='http://127.0.0.1:8000/charcount'><button>char count</button></a>
</body>
</html>