body {
    /*background-color: black;*/
    background-image: linear-gradient(to right,skyblue,white)
    /*background-size: cover;*/
    /*background-repeat: repeat;  */
}

.first {
    font-family: 'Mulish', sans-serif;
    font-size: 540%;
    font-style: italic;
    /*font-weight: lighter;*/
    text-shadow: 4px 5px 2px black;
    color: #a860d1;

}

.just {
    color: #1a1a1a;
    font-size: 40px;
    word-spacing: 4px;
    text-indent: 150px;
    text-align: justify;
    display: block;
    margin-top: 260px;
    margin-left: 38%;
    /*position: relative;*/
    /*text-align: center;*/
}


/*h2
{
	width : 300px;
	height: 300px;
	background-color : yellow;
	border :5px solid red;
	border-radius: 100px; 

}
*/

a {
    position: absolute;
    margin-top: 130px;
    margin-left: -60px;
    background-image: linear-gradient(to right ,red,white);
    padding: 12px 12px 12px 12px;
    color: black;
    font-size: 44px;
    border: 3.5px solid black;
    border-radius: 20px;
    text-decoration: none;
    transition-property: all;
    transition-duration: 0.5s;
    box-shadow: 4px 4px 1px 1px gray;
    align-self: right;
}

a:hover {
    background-color: white;
    background-image: none;
    border: 5px solid ;
    border-color: black;
    color: black;
    font-size: 42px;
}

.batman {
    width: 240px;
    height: 230px;
    position: absolute;
    margin-top: -850px;
    animation-name: runaway;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.imag {
    height: 35%;
    width: 35%;
    margin-top: 300px;
    float: left;
    border: 5px solid black;
    border-radius: 20px;
}

@keyframes runaway {
    from {
        left: 0;
    }
    to {
        left: 90%;
    }
}

.column {
    margin-top: 100px;
    column-gap: 50px;
    column-rule: dotted;
    text-align: justify;
    column-count: 3;
    color: #1a1a1a;
    font-size: 40px;
    column-rule-color: blue;
}