*
{
    margin: 0px;
    padding : 0px;
    box-sizing: border-box;
}
.sidebar
{
    background-color: #ed008c;
    width: 100%;
    height: 50px;
    position: fixed;
}
.user
{
    float:right;
    height:40px;
    width: auto;
    border-radius: 100%;
    margin-top: -35px;
    margin-right:10px;
}
.sidebar ul
{
    float: right;
    margin-top: -25px;

}
.sidebar ul li
{
    display: inline-block;
    margin-right: 20px;
}
.sidebar ul li a
{
    text-decoration: none;
    color: white;
    padding-bottom: 3px;

}
.sidebar ul li a:hover
{
    border-bottom: 1px solid white;
}
.sidebar ul li a i
{
    margin-right: 5px;
    color: #2b2828;
}
.logo
{
    text-transform: uppercase;
    margin-left: 30px;
}
#check
{
    display: none;
}
label
{
    display: none;
}

@media only screen and (max-width: 720px)
{
    .sidebar{
        width: 300px;
        height: 100%;
        /* left:-320px; */
        background:pink;
        transition: all .5s ease;
    }
   .sidebar ul li{  
        margin: 0px;
        padding: 0px;
        display:block;
    }
    .sidebar ul{
        margin-top:21px;
        line-height: 400%;
        background-color: pink;
        margin-right: 180px;
    }
    .sidebar ul li a{
        color: black;
    }
    .user{
        margin-right: 32%;
        margin-top:20px;
        position: relative;
        height: 100px;
        width: auto;
    }
    .sidebar ul li a :hover{
        
        /* margin-left: 200px; */
    }

}    