* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

.footer-container {
  background-color: #313036;
  padding: 40px;
  padding-bottom: 10px;
  position: relative;
}

.column-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
}

.footer-container h3 {
  text-transform: capitalize;
  color: white;
  font-size: 26px;
}

.footer-container h3 span {
  color: #73ccec;
}

.column-container .col-1 p {
  width: 70%;
  padding-top: 9px;
  font-size: 16px;
  font-family: var(--Lexend);
  color: #cac9d1;
  text-align: justify;
  word-spacing: -3px;
  line-height: 20px;
}

.column-container .col-1 .phone-email {
  font-size: 16px;
  color: #cac9d1;
  word-spacing: 8px;
  line-height: 22px;
  font-family: "Mukta", sans-serif;
}

.column-container .col-1 .phone-email a {
  text-transform: none;
  font-size: 16px;
  color: rgb(236, 229, 229);
  text-decoration: none;
}

.col-1 .links {
  word-spacing: 8px;
}

.col-1 .links a {
  color: #cac9d1;
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
  padding: 8px 8px 5px 8px;
  border-radius: 5px;
}

.col-1 .links .fa-facebook {
  color: white;
  background-color: #4867aa;
  font-weight: bolder;
  padding: 8px 10px 5px 10px;
}

.col-1 .links .fa-twitter {
  background: #1da1f2;
  color: white;
}

.col-1 .links .fa-instagram {
  color: white;
  background: #0178d7;
}

.col-1 .links .fa-youtube-play {
  color: #f70000;
  background: white;
}

.col-1 .links .fa-facebook:hover {
  background-color: white;
  color: #5779c0;
}

.col-1 .links .fa-twitter:hover {
  color: #1da1f2;
  background: white;
}

.col-1 .links .fa-instagram:hover {
  background-color: white;
  color: #0178d7;
}

.col-1 .links .fa-youtube-play:hover {
  background: #e22c2c;
  color: white;
}

.col-2 ul {
  padding: 9px 0px 0px 30px;
  list-style-type: disc;
  word-spacing: -3px;
  text-transform: capitalize;
  line-height: 30px;
  font-size: 19px;
  color: #cac9d1;
}

.col-2 ul li a {
  font-size: 19px;
  color: #cac9d1;
  text-decoration: none;
  border-bottom: 1px solid #313036;
}

.col-2 ul li a:hover {
  color: #1da1f2;
}

.col-3 input[type="text"] {
  width: 260px;
  margin-top: 10px;
  margin-bottom: 7px;
  padding: 4px;
  padding-left: 15px;
  background-color: #282828;
  color: rgb(223, 211, 211);
  font-family: "Mukta", sans-serif;
  text-transform: none;
  outline: none;
  border: none;
}

.col-3 textarea {
  width: 260px;
  text-transform: none;
  background-color: #282828;
  border-radius: 5px;
  border: none;
  padding: 10px 0px 0px 15px;
  color: rgb(223, 211, 211);
  outline: none;
  resize: none;
}

.col-3 textarea::placeholder {
  font-size: 14px;
  font-family: "Mukta", sans-serif;
}

.col-3 .submit {
  text-transform: capitalize;
  margin-top: 10px;
  margin-left: 2.5px;
  padding: 5px 15px;
  color: white;
  background-color: #067197;
  border: none;
  outline: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  font-family: "Mukta", sans-serif !important;
}

.col-3 .submit:hover {
  background-color: #1a8fb9;
}

.footer-container .copyright {
  margin-top: 20px;
  font-size: 17px;
  color: #cac9d1;
  width: 100%;
  text-align: center;
}

.footer-container .move-up {
  position: absolute;
  right: 4%;
  top: 50%;
  font-size: 15px;
  cursor: pointer;
}

.footer-container .move-up span {
  color: #73ccec;
}

@media (max-width: 1000px) {
  .column-container {
    grid-template-columns: 1fr 1fr;
  }
  .col-1 {
    grid-row: 1 / span 2;
  }
  .column-container .col-1 p {
    width: 80%;
  }
}
@media (max-width: 590px) {
  .footer-container {
    background-color: #313036;
    padding: 60px;
    padding-bottom: 10px;
    padding-top: 30px;
  }
  .column-container {
    grid-template-columns: 1fr;
  }
  .column-container .col-1 p {
    width: 70%;
  }
  .footer-container .move-up {
      top: 80%;
  }
}
@media (max-width: 430px) {
    .footer-container {
        padding: 20px;
    }
    .column-container .col-1 p {
        width: 90%;
    }
    .col-3 input[type="text"],
    .col-3 textarea {
        width: 220px;
    }
    .footer-container .move-up {
        top: 90%;
    }
}
