/* @import url('https://fonts.googleapis.com/css2?family=Abel&family=Anton&family=Josefin+Sans&family=Lexend+Deca&family=Livvic:wght@500&display=swap'); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
}

/* ------------------ footer -------------------- */

.footer {
  width: 100%;
  background-color: #313036;
  display: grid;
  position: absolute;
  text-align: justify;
  grid-gap: 10%;
  padding: 2.5% 3% 2.5% 3%;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.col-1 h3 {
  color: white;
  font-size: 26px;
}

.col-1 h3 span {
  color: #73ccec;
}

.col-1 p {
  color: #cac9d1;
  padding-top: 9px;
  word-spacing: -3px;
  font-size: 16px;
  font-family: var(--Lexend);
  line-height: 20px;
  width: 70%;
}

.col-1 .phone-email {
  font-size: 16px;
  color: #cac9d1;
  word-spacing: 8px;
  line-height: 22px;
  font-family: "Mukta", sans-serif;
}

.col-1 .phone-email a {
  text-transform: none;
  font-size: 16px;
  color: rgb(236, 229, 229);
  text-decoration: none;
}

.col-1 .links {
  word-spacing: 8px;
}

.col-1 .links a {
  color: #cac9d1;
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
  padding: 8px 8px 5px 8px;
  border-radius: 5px;
}

.col-1 .links .fa-facebook {
  color: white;
  background-color: #4867aa;
  font-weight: bolder;
  padding: 8px 10px 5px 10px;
}

.col-1 .links .fa-twitter {
  background: #1da1f2;
  color: white;
}

.col-1 .links .fa-instagram {
  color: white;
  background: #0178d7;
}

.col-1 .links .fa-youtube-play {
  color: #f70000;
  background: white;
}

.col-1 .links .fa-facebook:hover {
  background-color: white;
  color: #5779c0;
}

.col-1 .links .fa-twitter:hover {
  color: #1da1f2;
  background: white;
}

.col-1 .links .fa-instagram:hover {
  background-color: white;
  color: #0178d7;
}

.col-1 .links .fa-youtube-play:hover {
  background: #e22c2c;
  color: white;
}

.col-2 h3,
.col-3 h3 {
  color: white;
  font-size: 26px;
  text-transform: capitalize;
}

.col-2 h3 span,
.col-3 h3 span {
  color: #73ccec;
}

.col-2 ul {
  padding: 9px 0px 0px 30px;
  list-style-type: disc;
  word-spacing: -3px;
  text-transform: capitalize;
  line-height: 30px;
  font-size: 19px;
  color: #cac9d1;
}

.col-2 ul li a {
  font-size: 19px;
  color: #cac9d1;
  text-decoration: none;
  border-bottom: 1px solid #313036;
}

.col-2 ul li a:hover {
  color: #1da1f2;
}

.col-3 {
  line-height: 40px;
  padding-left: 60px;
}

.col-3 input[type="text"] {
  width: 80%;
  background-color: #282828;
  padding: 4px;
  padding-left: 15px;
  color: rgb(223, 211, 211);
  font-family: "Mukta", sans-serif;
  text-transform: none;
  outline: none;
  border: none;
}

.col-3 textarea {
  width: 80%;
  text-transform: none;
  background-color: #282828;
  border-radius: 5px;
  border: none;
  padding: 10px 0px 0px 15px;
  color: rgb(223, 211, 211);
  outline: none;
  resize: none;
}

.col-3 textarea::placeholder {
  font-size: 14px;
  font-family: "Mukta", sans-serif;
}

.col-3 .submit {
  text-transform: capitalize;
  margin-left: 2.5px;
  padding: 5px 15px;
  color: white;
  background-color: #067197;
  border: none;
  outline: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  font-family: "Mukta", sans-serif !important;
}

.col-3 .submit:hover {
  background-color: #1a8fb9;
}

h3 {
  font-family: "Proza Libre", sans-serif;
}

.copyright {
  font-size: 17px;
  color: #cac9d1;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 15px;
}

footer.footer .move-up {
  position: absolute;
  right: 6%;
  top: 50%;
  font-size: 15px;
}

footer.footer .move-up span {
  color: #73ccec;
}

footer.footer .move-up span:hover {
  color: var(--white);
  cursor: pointer;
}

@media only screen and (max-width: 1080px) {
  .col-1 {
    grid-row: 1 / span 2;
  }

  .col-3 {
    padding-left: 0px;
  }
}

/* ------------------ footer -------------------- */
