* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100vw;
    height: 60px;
    background: #123456;
    margin: auto;
    position: relative;
}

.check-bar {
    display: none;
}

.logo {
    float: left;
    line-height: 60px;
    margin-left: 10px;
}

.logo h1 {
    color: #fff;
    font-weight: 700;
}

.logo span {
    color: #098473;
}

ul {
    float: left;
    margin-left: 20px;
}

ul li {
    display: inline-block;
    line-height: 60px;
    padding: 0 10px;
    list-style: none;
}

ul li a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
}

ul li:hover {
    background: #098f4e;
}

#search {
    display: none;
}


.searchicon i {
    float: right;
    line-height: 60px;
    margin-right: 30px;
    color: white;
    padding: 0 15px;
    cursor: pointer;
    font-size: 1.3rem;
}

.searchicon i:hover {
    color: black;
}

.searchBox { 
    position: absolute;
    top: -60px;
    right: 20px;
    width: 240px;
    line-height: 40px;
    background: #1e232b;
    float: left;
    display: flex;
    border-radius: 3px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
} 

.searchBox::before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: 0px;
    right: 15px;
    border: 10px solid transparent;
    border-bottom-color: #1e232b;
    margin: -20px 5px 0 0;
}

form {
    width: 100%;
    height: 38px;
    right: 0;
    background-color: #9b9b9b08;
    display: flex;
    overflow: hidden;
    padding: 2px;
    border: 1px solid #9b9b9b08;
    border-radius: 3px;
}

form input[type="text"] {
    width: 95%;
    background-color: #00000000;
    padding: 0 10px;
    border: 0;
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: white;
}


form input[type="submit"] {
    font-size: 14px;
    padding: 5px 5px;
    border: 0;
    background: none;
    border: 0;
    background: #3653f7;
    border-radius: 3px;
    cursor: pointer;
    color: #fff;
    outline: none;
}

form input[type="submit"]:hover {
    background: #3653f780;
}

#search:checked ~ .searchBox {
    top: 70px;
}

@media (max-width:768px) {
    ul {
        position: fixed;
        top: 60px;
        left: 0px;
        width: 0px;
        height: calc(100vh - 60px);
        background: #12161d ;
        margin: 0;
        transition: all 0.2s ease;
        overflow: hidden;
    }

    ul li {
        display: block;
        text-align: center;
    }
    li:hover{
        /* background:none; */
    }
    ul li a:hover
    {
        color:white;
    }
    .logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .check-bar {
        display: block;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 200;
    }

    .fa-bars {
        color: white;
        font-size: 25px;
        font-weight: 700;
        cursor: pointer;
    }

    .fa-bars:hover {
        color: #12161d;
    }

    ul.active {
        width: 180px;
        transition: all 0.2s ease;
    }
}

@media (max-width: 540px) {
    ul.active {
        width: 100vw;
    }
}
