*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    text-transform: capitalize;
    list-style: none;
    /* background-image:linear-gradient(to top,skyblue,white); */
    
}



/* .close
{
    color: white;
    margin-left: 226px;
    font-size: 21px;
} */
#check
{
    display:none;
}
label #bar
{
    cursor: pointer;
    position: absolute;
    border-radius: 3px;
    float: right;
}
label #bar
{
    font-size: 35px;
    color: white;
    padding: 6px 12px;
    padding-left:30px; 
    background-color: #3c7856;
    width:97.4%;
}
.class{
    display: none
}
#check:checked ~ .class{
    display: block;
}


