* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
}

html {
    font-size: 65.5%;
}

header {
    display: flex;
    width: 100vw;
    height: 6rem;
    background: #122343;
}

.check-bar {
    display: none;
}

.logo {
    /* float: left; */
    line-height: 6rem;
    margin-left: 1rem;
    position: relative;
}

.logo h1 {
    font-size: 2.5rem;
    color: #fff;
    font-weight: 700;
    letter-spacing: .2rem;
}

.logo span {
    color: tomato;
    font-size: 20px;
}

ul {
    /* float: left; */
    margin-left: 7rem;
    list-style: none;
    line-height: 6rem;
}

ul li {
    display: inline-block;
    position: relative;
    margin-right: 1rem;
}

ul li:hover > ul {
    opacity: 1;
    visibility: visible;
}

ul li a {
    color: white;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 1.7rem;
    display: block;
    padding: 0 1rem;
}

ul li a:hover {
    color: greenyellow;
}


ul li ul {
    position: absolute;
    background: #122343;
    margin:0;
    top: 6rem;
    line-height: 4rem;
    left: 50%;
    list-style-type: none;
    width: 15rem;
    height: auto;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

ul li ul li {
    display: list-item;
    display: block;
    border-bottom: .1rem solid #000;
    margin: 0;
}

ul li ul li a {
    font-size: 1.5rem;
    color: white;
    display: block;
    padding: 0 1rem;
}

ul li ul li a:hover {
    background-color: greenyellow;
    color: black;
}

#search {
    display: none;
}

.searchicon i {
    position: absolute;
    right: 0;
    /* float: right; */
    line-height: 6rem;
    font-size: 1.5rem;
    margin-right: 3rem;
    color: white;
    padding: 0 1.5rem;
    cursor: pointer;
}

.searchicon i:hover {
    color: greenyellow;
}

.searchBox { 
    position: absolute;
    top: -6rem;
    right: 2rem;
    width: 24rem;
    line-height: 4rem;
    background: #1e232b;
    float: left;
    display: flex;
    border-radius: .3rem;
    box-shadow: 0 .2rem .4rem 0 rgba(0, 0, 0, 0.5);
} 

.searchBox::before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    right: 1.5rem;
    border: 1rem solid transparent;
    border-bottom-color: #1e232b;
    margin: -2rem .5rem 0 0;
}

form {
    width: 100%;
    height: 3.8rem;
    right: 0;
    background-color: #9b9b9b08;
    display: flex;
    overflow: hidden;
    padding: .2rem;
    border: .1rem solid #9b9b9b08;
    border-radius: .3rem;
}

form input[type="text"] {
    width: 95%;
    background-color: #00000000;
    padding: 0 1rem;
    border: 0;
    outline: none;
    font-size: 1.4rem;
    font-weight: 400;
    color: white;
}


form input[type="submit"] {
    font-size: 1.4rem;
    padding: .5rem .5rem;
    border: 0;
    background: none;
    border: 0;
    background: tomato;
    border-radius: .3rem;
    cursor: pointer;
    color: #fff;
    outline: none;
}

form input[type="submit"]:hover {
    background: greenyellow;
    color: black;
}


#search:checked ~ .searchBox {
    top: 7rem;
}

@media (max-width:768px) {
    ul {
        position: fixed;
        top: 6rem;
        left: 0;
        width: 0;
        height: calc(100vh - 6rem);
        background: #12161d ;
        margin: 0;
        transition: all 0.2s ease;
        overflow: hidden;
    }

    ul li {
        display: block;
        text-align: left;
    }

    ul li a{
        padding-left: 3rem;
    }

    ul li a:hover {
        color: teal;
        transform: scale(1);
    }

    ul li ul {
        border: 0;
        background: none;
        margin: 0;
        left: 0;
    }

    ul li ul li {
        border-bottom: 0;
        margin: 0;
    }


    ul li ul li a {
        padding-left: 3rem;
        color: #ddd;
        padding-left: 5rem;
    }

    ul li ul li a:hover {
        color: black;
    }


    .logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .check-bar {
        display: block;
        position: absolute;
        top: 2rem;
        left: 2rem;
        z-index: 200;
    }

    .fa-bars {
        color: white;
        font-size: 2.5rem;
        font-weight: 700;
        cursor: pointer;
    }

    .fa-bars:hover {
        color: #12161d;
    }

    ul.active {
        width: 60vw;
        transition: all 0.2s ease;
    }
}


@media (max-width: 540px) {
    ul.active {
        width: 70vw;
    }
}
