@import url('/template/template.css');

main .cat_image img {
    width: 100%;
    height: 30vh;
    background-size: cover;
}

main .container {
}

main .container .post_container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 20px;
}

main .container .post_container h1 {
    font-family: var(--Abel);
    font-size: 30px;
    margin-top: 20px;
}

main .container .post_container .post {
    display: flex;
    padding: 30px 10px;
}

main .container .post_container .post img {
    width: 100%;
    height: 100%;
    padding-right: 10px;
}

main .container .post_container .post .post_info {
   display: flex;
   flex-direction: column;
}

main .container .post_container .post .post_info h1 {
    padding-bottom: 10px;
}

main .container .post_container .post .post_info h2 {
    padding-bottom: 10px;
}

main .container .post_container .post .post_info p {
    padding-bottom: 10px;
}

main .container .post_container .post .post_info button {
    align-self: flex-end;
    margin-top: auto;
    padding: 10px 20px;
    background: transparent;
    border: 1px solid #12e23d;
    outline: none;
    cursor: pointer;
    border-radius: 3px;
}

main .container .post_container .post .post_info button a {
    font-size: 16px;
}

main .container .post_container .post .post_info button:hover {
    background: #12e23d;
}

main aside {
    padding-left: 10px;
}

main .aside_content h1{
    font-size: 30px;
    font-family: var(--Abel);
    margin-top: 20px;
}

main .aside_content .image_info {
    padding: 20px 10px;
    display: flex;
    align-items: center;
}

main .aside_content .image_info img {
    width: 30%;
    height: 30%;
    padding: 5px;
}

main .pagination{
    display: flex;
    justify-content: center;
    color: var(--text-gray);
    margin: 64px 0;
}

main .pagination a{
    padding: 9.6px 14.4px;
    border-radius: 32px;
    margin: 0 4.8px;
    font-family: var(--Lexend);
}

main .pagination .pages{
    background: var(--text-gray);
    color: var(--white);
}











@media only screen and (max-width: 900px) {
    main .container {
        grid-template-columns: 100%;
    }

    main .container .post_container .post {
        display: flex;
        flex-direction: column;
    }

    main .container .post_container .post img {
        width: 100%;
        height: 300px;
    }
}

@media only screen and (max-width: 768px) {
    .nav-items {
        height    : 100vh;
    }
}