* {
    margin     : 0px;
    padding    : 0px;
    box-sizing : border-box;
    user-select: none;
}

body {
    width: 100%;
}

html {
    font-size: 62.5%;
}

.container {
    width           : 100vw;
    height          : 100vh;
    display         : flex;
    background      : #000;
    justify-content : center;
    align-items     : center;
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}

.container .form {
    position: relative;
    height  : 500px;
    width   : 310px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3),
        6px 6px 10px 2px rgb(0, 0, 0, 0.3);
    background     : white;
    border-radius  : 7px;
    padding        : 15px;
    display        : flex;
    flex-direction : column;
    justify-content: center;
}


.form .title {
    padding-top   : 20px;
    text-align    : center;
    color         : #064e70;
    text-transform: capitalize;
    font-family   : 'Roboto Slab', serif;
    font-size     : 3rem;
}

.login_form {

    /* background: #000; */
    justify-content: center;
    padding-top    : 20px;
}

.form .alertbox {
    margin-top      : -10px;
    margin-bottom   : 15px;
    width           : 100%;
    padding         : 20px 15px;
    font-size       : 1.4rem;
    color           : #721c24;
    background-color: #f8d7da;
    border-color    : #f5c6cb;
    text-transform  : capitalize;
    display         : none;
}

.form .successbox {
    margin-top      : -10px;
    margin-bottom   : 15px;
    width           : 100%;
    padding         : 20px 15px;
    color           : #155724;
    background-color: #d4edda;
    border-color    : #c3e6cb;
    font-size       : 1.4rem;
    text-transform  : capitalize;
    display         : none;
}

.login_form .inputBox {
    position: relative;
    z-index : 1;
}

.login_form .inputBox .fa {
    position : absolute;
    top      : 16%;
    left     : 5px;
    color    : #369ccc;
    font-size: 26px;
}

.login_form .inputBox input {
    width        : 85%;
    padding      : 10px 10px 6px 5px;
    font-size    : 1.6rem;
    font-weight  : bold;
    color        : rgb(95, 86, 86);
    margin-bottom: 30px;
    border       : none;
    outline      : none;
    border-bottom: 1px solid black;
    background   : transparent;
    margin-left  : 35px;
    z-index      : 2;
}

.login_form .inputBox label {
    position      : absolute;
    top           : 0;
    left          : 36px;
    letter-spacing: 1px;
    padding       : 10px 0px;
    font-size     : 1.6rem;
    color         : rgb(117, 114, 114);
    transition    : 0.5s;
    font-weight   : bold;
    font-family   : 'Arvo', serif;
    z-index       : -1;
    text-transform: capitalize;
}

.login_form .inputBox input:focus~label,
.login_form .inputBox input:valid~label {
    top       : -24px;
    left      : 37px;
    transition: 0.5s;
    color     : rgb(59, 56, 56);
}



.login_form .login-button {
    width         : 100%;
    border        : none;
    border-radius : 14px;
    padding       : 7px;
    background    : rgb(17, 116, 155);
    outline       : none;
    text-transform: capitalize;
}


.login_form .login-button a {
    font-size      : 15px;
    color          : #fff;
    text-decoration: none;
    font-family    : 'Oxygen', sans-serif;
    width          : 100%;
}

.login_form .login-button:hover {
    background: rgb(29, 145, 190);
    cursor    : pointer;
}

.login_form .hr {
    padding-top  : 30px;
    border       : none;
    border-bottom: 1px solid black;
}

.login_form .or {
    margin      : -8px auto 2px;
    font-size   : 1.6rem;
    background  : white;
    width       : 25px;
    padding-left: 2px;
}

.login_form .links {

    padding-top   : 20px;
    word-spacing  : 3px;
    text-transform: capitalize;
}

.login_form .links .google .fa-google,
.login_form .links .facebook .fa-facebook {
    word-spacing: 4px;
    color       : white;
    font-size   : 1.9rem;
}

.login_form .links .google,
.login_form .links .facebook {
    padding         : 8px 4px 4px 4px;
    font-size       : 1.5rem;
    border          : none;
    background-color: rgb(5, 62, 85);
    border-radius   : 4px;
    text-decoration : none;
    color           : white;
}

.login_form .links .facebook {
    background-color: #3a5794;
}

.login_form .other {
    padding-top   : 20px;
    padding-left  : 10px;
    text-transform: capitalize;

}

.login_form .other a {
    font-size      : 1.4rem;
    line-height    : 22px;
    text-decoration: none;
    color          : #064e70;
    font-family    : 'Arvo', serif;
    font-family    : 'BioRhyme', serif;
    font-family    : 'Piazzolla', serif;
    font-family    : 'Source Serif Pro', serif;
    font-weight    : bolder;
    letter-spacing : .5px;
    line-height    : 25px;
}

@media (max-width:410px) {
    html {
        font-size: 58%;
    }

    .container .form {
        width: 300px;
    }

}

@media (max-width:460px) {
    html {
        font-size: 57%;
    }

    .container .form {
        width : 280px;
        height: 460px;
    }

    .form .title {
        margin-top: -10px;
    }
}

@media (max-width:320px) {
    html {
        font-size: 50%;
    }

    .container .form {
        width : 210px;
        height: 360px;
    }

    .login_form .inputBox input {
        width: 78%;
    }

    .login_form .login-button {
        margin-top: -5px;
        padding   : 5px 0px;
    }

    .login_form .hr {
        padding-top: 20px;
    }

    .login_form .links {

        padding-top: 10px;
    }

    .login_form .other {
        padding-top: 20px;
    }

    .login_form .other a {
        line-height: 19px;
    }

}