* {
    margin    : 0px;
    padding   : 0px;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width : 99vw;
    height: 100vh;
}

.container {
    width                : 100%;
    height               : 100%;
    padding              : 0px 50px;
    display              : grid;
    grid-template-columns: 70% 30%;
}

.post-title {
    margin-left: 5px;
    grid-column: 1/span 3;
}

.post-title h3 {
    width        : 100%;
    margin       : 30px 0px 50px 0px;
    padding      : 10px;
    color        : white;
    font-size    : 3rem;
    font-family  : 'Goldman', cursive;
    font-family  : 'Merriweather', serif;
    background   : rgb(10, 10, 10);
    border-radius: 5px;
}

.post-content>.post-image {
    display        : flex;
    justify-content: center;
}

.post-content .post-image img {
    width        : 100%;
    border-radius: 15px;
    transition   : all 1.5s ease;
}

.post-content .post-image div {
    overflow: hidden;
}

.post-content .post-image img:hover {
    transform: scale(1.3);
}

.post-content .post-description {
    width      : 95%;
    margin-left: 3%;
    padding    : 30px 0px;
}

.post-content .post-description p {
    margin-top : 20px;
    font-size  : 2.2rem;
    font-family: 'Mukta', sans-serif;
    text-align : justify;
    line-height: 30px;
}

/* ---------------------sidebar--------------------- */

.container .sidebar {
    margin-top  : 10px;
    padding-left: 40px;
}

.sidebar .sidebar-title {
    font-size    : 1.8rem;
    margin-bottom: 30px;
}

.sidebar .sidebar-postbox {
    margin-bottom: 35px;
}

.sidebar .sidebar-postbox .post-image div {
    overflow: hidden;
}

.sidebar .sidebar-postbox .post-image img {
    width        : 100%;
    transition   : all 1s ease;
    border-radius: 4px;
}


.sidebar .sidebar-postbox .post-image img:hover {
    transform: scale(1.3);
}


.sidebar .sidebar-postbox .post-like {
    margin-top    : 10px;
    font-size     : 1.6rem;
    text-transform: capitalize;
}

.sidebar .sidebar-postbox .post-title {
    margin-top: 10px;
}

.sidebar .sidebar-postbox .post-title a {
    font-family    : 'Anton', sans-serif;
    margin-top     : 10px;
    text-decoration: none;
    font-size      : 1.7rem;
    color          : rgb(82, 80, 80);
}

/*              Viewport less then or equal to 768px            */

@media only screen and (max-width: 768px) {
    html {
        font-size: 56%;
    }

    .container {
        grid-template-columns: 100%;
    }
}