*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

body{
    width: 99vw;
    height: 100vh;
}
.center {
    margin: 300px 0px 50px 0px;
    display: flex;
    justify-content: center;
}
.title h1 {
    width: 106%;
    margin-bottom: 30px;
    text-align: center;
    font-size: 4rem;
    border-bottom: 1.5px dashed gray;
    color: rgb(54, 54, 54);
    text-transform: uppercase;
    line-height: 40px;
}
.center .title h1::after {
  content: "";
  position: absolute;
  margin-left: 2px;
  margin-top: 38px;
  height: 8px;
  width: 8px;
  border-radius: 100%;
  background: rgb(102, 101, 101);
}
.center .title h1::before {
  content: "";
  position: absolute;
  margin-left: -10px;
  margin-top: 38px;
  height: 8px;
  width: 8px;
  border-radius: 100%;
  background: rgb(102, 101, 101);
}
.container{
    width: 100%;
    height: 70%;
    padding: 0px 100px;
    display: grid;
    grid-template-columns: 49% 49%;
    column-gap: 2%;
    justify-content: center;
}
.container .col{
    height: 80%;
    display: grid;
    grid-template-columns: 70% 30%;
    justify-content: center;
    align-items: center;
}
.container .info .name{
    color: rgb(61, 61, 61);
    font-size: 2.4rem;
    font-family:'Roboto Slab', serif;
    text-transform: capitalize;
}
.container .info .work{
    font-size: 1.4rem;
    font-family:'Arvo', serif;
    line-height: 20px;
}
.container .info .details{
    margin-top: 15px;
    color:rgb(58, 58, 58);
    font-size: 1.7rem;
    line-height: 20px;
}
.container .col img{
    width: 200px;
    height: 200px;
    border-radius: 100%;
}