body {
    font-family: Arial, Helvetica, sans-serif;
    margin     : 0;
}

html {
    box-sizing: border-box;
}

.row {
    display              : grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap           : 20px;
    padding              : 0px 25px;
}

.heading {
    text-align: center;
    font-size : 30px;
}

.column {
    width        : 100%;
    margin-bottom: 16px;
}

.card {
    border-radius: 5px;
    box-shadow   : 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin       : 8px;
}

.card img {
    width                  : 100%;
    border-top-left-radius : 5px;
    border-top-right-radius: 5px;
}

.about-section {
    padding         : 30px;
    text-align      : center;
    background-color: #474e5d;
    color           : white;
}

.container {
    padding: 0 16px;
}

.container::after,
.row::after {
    content: "";
    clear  : both;
    display: table;
}

.title {
    color: grey;
}

.button {
    border          : none;
    outline         : 0;
    display         : inline-block;
    padding         : 8px;
    color           : #fff;
    background-color: #17a2b8;
    border-color    : #17a2b8;
    text-align      : center;
    cursor          : pointer;
    width           : 100%;
}

.button:hover {
    background-color: #555;
}

@media screen and (max-width: 970px) {
    .row {
        grid-template-columns: 1fr 1fr;
        grid-gap             : 30px;
        padding              : 0px 50px;
    }
}

@media screen and (max-width: 650px) {
    .row {
        grid-template-columns: 1fr;
        padding              : 0% 10%;
        grid-gap             : 10px;
    }
}